<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel De Usuario</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="main-contener">
        <h1> informações do seu perfil</h1>
       <form id="register form">
        <div class="half-box spacing">


            

            
            <label for="nome">Nome</label>
            <input type="text"name = "name" id="name" placeholder="digite aqui">
    </div>
    <div class="half-box">
        <label for="lastname">Sobrenome</label>
        <input type="text"name = "lastname" id="lastname" placeholder="digite aqui">
    <div>
        <div>
            <div class="full-box">
                <label for="endereço">endereço</label>
                <input type= "text" endereço = endereço id="endereço" placeholder="digite aqui">
        </div>
        <div class="full-box">
            <label for="email">E-mail</label>
            <input type= "email" name = "e-mail" id="email" placeholder="digite aqui">
    </div>
    <div class="half-box spacing">
        <label for="password">Senha</label>
        <input type="password"name = "password" id="password" placeholder="digite aqui">
        <div>
            <div class="half-box">
            <label for="passwordconfirmation">Confirmar Senha</label>
            <input type="password"name = "passwordconfirmation" id="passwordconfirmation" placeholder="digite aqui">   
        </div>
            <div class="full-box">
                <input type= "submit" id="btn-submit" value="alterar dados">
        </div>

    <script src="js/scripts.js"></script>
</body>
</html>

<br>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="full-box">
<input type= "submit" id="btn-submit" value="visualizar pedidos">
    </div>
    <div class="full-box">
        <label for="produtos">produtos</label>
        <input type="produtos"name = "produtos" id="produtos" placeholder="produtos no carrinho">

    </div>
    
</body>
</html>
